*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background: linear-gradient(45deg, #3F5EFB,  #FC466B);
    height: 250vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;
}
.contenair{
    position: relative;
}
form{
    margin-bottom: 600px;
    background-color: rgba(255, 255, 255, .3);
    padding: 100px;
    height: 650px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}
h1{
    color: #FFFF;
    opacity: .7;
    margin-bottom: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
a{
    color: #ddd;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover{
     text-shadow: 2px 2px 6px rgba(0, 0, 0);
}
input{
    background: none;
    border: none;
      border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    border-radius: 20px;
    width: 300px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0,.2);
    color: #FFFF;
    font-weight: 500;
    transition: all .3s;   
}
::placeholder{
    font-size: 15px;
    color: #FFFF;
}
input:hover,
input[type="nom"]:focus,
input[type="prenom"]:focus,
input[type="email"]:focus,
input[type="passe"]:focus{
    background-color: rgba(255, 255, 255, .1);
     box-shadow: 4px 4px 60px 8px rgba(0, 0, 0,.2);
}
input[type="submit"]:hover{
    background-color: #FC466B;
}
input[type="submit"]{
    margin-top: 20px;
    font-size: 1rem;
    width: 150px;
    cursor: pointer;
}
.glass{
    background:  rgba(255, 255, 255, .3);
    box-shadow: 4px 4px 60px -8px rgba(0, 0, 0,.2);
      border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
     backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    position: absolute;
    border-radius: 20px;
}
.glass1{
    height: 150px;
    width: 150px;
    top: -300px;
    left: 85px;
    z-index: -1;
}
.glass2{
    height: 150px;
    width: 150px;
    top: -50px;
    right: -75px;
}
.glass3{
    height: 150px;
    width: 150px;
    top: 250px;
    left: -50px;
}
.glass4{
    height: 150px;
    width: 150px;
    top: 300px;
    right: -250px;
}
.glass5{
    height: 150px;
    width: 150px;
    top: 600px;
    left: 20px;
}
.glass6{
    height: 150px;
    width: 150px;
    top: -50px;
    right: -50px;
}
.glass7{
    height: 100px;
    width: 100px;
    top: -50px;
    left: -210px;
    z-index: -1;
}
.glass8{
    height: 150px;
    width: 150px;
    top: -120px;
    left: -75px;
    z-index: -1;
}
.glass9{
    height: 150px;
    width: 150px;
    top: -120px;
    right: -75px;
}
.glass10{
    height: 150px;
    width: 150px;
    top: 200px;
    left: -100px;
}
.glass11{
    height: 150px;
    width: 150px;
    top: 200px;
    right: -150px;
    z-index: -1;
}
.glass12{
    height: 150px;
    width: 150px;
    top: 850px;
    right: 50px;
}
.glass13{
    height: 150px;
    width: 150px;
    top: 670px;
    right: -100px;
    z-index: -1;
}
.glass14{
    height: 100px;
    width: 100px;
    top: 600px;
    right: 800px;
    z-index: -1;
}
.glass15{
    height: 150px;
    width: 150px;
    top: 400px;
    right: -80px;
}
.glass16{
    height: 150px;
    width: 150px;
    top: 800px;
    right: 650px;
}
.glass17{
    height: 150px;
    width: 150px;
    top: 670px;
    right: 750px;
}
.glass18{
    height: 100px;
    width: 100px;
    top: 800px;
    right: 700px;
    z-index: -1;
}
.erreur{
    color: #3F5EFB;
    font-size: 17px;
    display: block;
    bottom: 20px;
}

.input-erreur{
    border: 2px solid #FC466B;
    outline: none;
}
.nom{
margin-bottom: 40px;
}
.pre{
margin-bottom: 40px;
}
.email{
margin-bottom: 40px;
}
.passe{
margin-bottom: 40px;
}
.confp{
margin-bottom: 40px;
}